<section class="mt-5">
    <div class="container mt-5">
        <table class="table table-light border border-rounded border-secondary ">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Email</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    
                    <td>{{this.Name}}</td>
                    <td>{{this.Phone}}</td>
                    <td>{{this.Email}}</td>
                    <td>
                        <a href="/admin/block-user/{{this._id}}" class="btn btn-outline-success" onclick="return confirm('Are You Sure Want to Block {{this.Name}}')">Block</a>
                        
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>