<section class="mt-5">
    <div class="container ">
        <div class="row d-flex justify-content-start">
            <a href="/admin/add-products" style="height: 40px; width:180px" class="btn btn-success mt-5 mx-3">Add Products</a>
        </div>
        <table class="table table-light border border-rounded border-secondary mt-3">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Delivery Expected</th>
                    <th scope="col">Price</th>
                    <th scope="col">Image</th>
                    <th scope="col">Image-2</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    
                    <td>{{this.prdName}}</td>
                    <td>{{this.Subcategoryname.Subcategoryname}}</td>
                    <td>{{this.Earliest_Delivery}}</td>
                    <td>{{this.Price}}</td>
                    <td><img style="width:50px;height:50px" src="/ProductImages/{{this.allImages.[0]}}" alt=""></td>
                    <td><img style="width:50px;height:50px" src="/ProductImages/{{this.allImages.[1]}}" alt=""></td>
                    <td>
                        <a href="/admin/edit-product/{{this._id}}" class="btn btn-outline-success" onclick="return confirm('Are You Sure Want to Edit {{this.prdName}}')">Edit</a>
                        <a href="/admin/delete-product/{{this._id}}"class="btn btn-outline-danger" onclick="return confirm('Are You Sure Want to Delete {{this.prdName}}')">Delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>