<section>
    <div class="container">
        <div class="row mt-5">
            {{#each address}}
            {{#each this.userAddress}}

            <div class="col-md-3 p-3 d-flex justify-content-center">
                <div class="card mt-3" style="width: 18rem;">
                    <h3 class="card-title text-center mt-4">Delivery Address</h3>
                    <hr>
                    {{!-- <form action="/place-order" method="post"> --}}
                        <div class="card-body">
                            <h6 class="card-title">{{this.UsersName}}</h6>
                            <h6 class="card-title">{{this.HouseName}}</h6>

                            <h6 class="card-title">{{this.Place}}</h6>
                            <h6 class="card-title">{{this.State}}</h6>

                            <h6 class="card-text">{{this.Pincode}}</h6>
                            <h6 class="card-title">{{this.Contact}}</h6>
                            <hr>
                            <a href="/place-order/{{this._id}}"> <button type="submit" class="btn btn-dark">Select
                                    Address</button></a>
                        </div>
                        {{!--
                    </form> --}}
                </div>
            </div>
            {{/each}}
            {{/each}}
        </div>
        <hr>

        <form id="user-address" method="post">
            <div class="row">
                <div class="col-md-8 mb-4 mt-5 ">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <h5 class="mb-0">Biling details</h5>
                        </div>
                        <div class="card-body ">

                            <div class="form-outline mb-4">
                                <input type="text" name="UsersName" id="form7Example4" placeholder="User's Name"
                                    class="form-control" required />
                            </div>

                            <div class="form-outline mb-4">
                                <input type="text" name="HouseName" id="form7Example4" placeholder="House Name"
                                    class="form-control" required />
                            </div>

                            <div class="form-outline mb-4">
                                <input type="text" name="Place" id="form7Example4" placeholder="Place"
                                    class="form-control" required />
                            </div>

                            <div class="form-outline mb-4">
                                <input type="text" name="State" id="form7Example4" placeholder="State"
                                    class="form-control" required />
                            </div>

                            <div class="form-outline mb-4">
                                <input type="text" name="Pincode" id="form7Example4" placeholder="PIN Code"
                                    class="form-control" required />
                            </div>

                            <!-- Number input -->
                            <div class="form-outline mb-4">
                                <input type="text" name="Contact" id="form7Example6" placeholder="Contact Number"
                                    class="form-control" required />
                                <input type="text" name="userid" value="{{user._id}}" hidden>
                            </div>

                            <button style="float:right ;" type="submit" class="btn btn-dark btn-lg btn-block">
                                Add Address
                            </button>

                    </div>
                </div>
            </div>
        </form>

    <div class="col-md-4 mb-4 mt-5 px-5">
        <div class="card mb-4">
            <div class="card-header py-3">
                <h5 class="mb-0 d-flex justify-content-center">Total price</h5>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                        Product Price
                        <span>&#x20b9 {{total.grandTotal.total_s}}</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        Shipping Charge
                        <span>&#x20b9 {{total.grandTotal.shipp}}</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                        <div>
                            <strong>Total amount</strong>
                            {{!-- <strong>
                                <p class="mb-0">(including VAT)</p>
                            </strong> --}}
                        </div>


                        <span id="total"><strong>&#x20b9 {{total.grandTotal.total}}.00</strong> </span>


                    </li>
                </ul>


            </div>
        </div>
    </div>

    {{!-- </form> --}}
    </div>
    </div>
</section>

<script>
    $("#user-address").submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/add-address',
            method: 'post',
            data: $('#user-address').serialize(),
            success: (response) => {
                alert(response)
                location.reload()
            }

        })
    })
</script>