<section id="services" class="services section-bg mt-5">
    <div class="container-fluid mt-5">
        <div class="row row-sm">
            <h4 class="_p-name">{{product_details.prdName}}</h4>
            <hr>
            <div class="col-md-6 _boxzoom">
                <div class="zoom-thumb">
                    <ul class="piclist">
                        <li><img class="border rounded border-secondary" src="/ProductImages/{{product_details.allImages.[0]}}" alt="" ></li>
                        <li><img class="border rounded border-secondary" src="/ProductImages/{{product_details.allImages.[1]}}" alt=""></li>
                    </ul>
                </div>
                <div class="_product-images">
                    <div class="picZoomer">
                        <img class="my_img border rounded border-secondary" src="/ProductImages/{{product_details.allImages.[0]}}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="_product-detail-content">
                    <p class="_p-name">{{product_details.prdName}}</p>
                    <div class="_p-price-box">
                        <div class="p-list">
                            
                            <span class="price">Price: ₹. {{product_details.Price}} </span>
                        </div>
                        
                        <div class="_p-features">
                            <span> Description About {{product_details.prdName}}:- </span>
                           {{product_details.Description}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Remove the container if you want to extend the Footer to full width. -->
<div class=" my-5">
    <!-- Footer -->
    <footer class="text-center text-lg-start text-white" style="background-color: #45526e">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold text-warning">
                            GreeWish Limited
                        </h6>
                        <p>
                            Here you can see and buy plants and plant based products.
                        </p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold text-warning">Products</h6>
                        <p>
                            <a class="text-white" style="text-decoration: none;">Plants</a>
                        </p>
                        <p>
                            <a class="text-white" style="text-decoration: none;">Pots</a>
                        </p>
                        <p>
                            <a class="text-white" style="text-decoration: none;">Seeds</a>
                        </p>
                        <p>
                            <a class="text-white" style="text-decoration: none;">Gifts</a>
                        </p>
                        <p>
                            <a class="text-white" style="text-decoration: none;">Tools and Fertilizers</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold text-warning">
                            Developer
                        </h6>
                        
                        <p>
                            <a class="text-white" style="text-decoration: none;">Vishnu KP</a>
                        </p>
                        <p >
                            vishnukp2529@gmail.com
                        </p>
                        <p>
                            <p><i class="fas fa-phone mr-3"></i> +91 9995 316 806</p>
                        </p>
                        <p>
                            <a class="text-white" href="https://vishnukp29.github.io/vishnukp/" style="text-decoration: none;">Website</a>
                        </p>
                    </div>

                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold text-warning">Contact</h6>
                        <p><i class="fas fa-home mr-3"></i> Tirur, Malappuram, Kerala</p>
                        <p>PIN- 676 102</p>
                        <p><i class="fas fa-envelope mr-3"></i> info.greewish@gmail.com</p>
                        <p><i class="fas fa-phone mr-3"></i> +91 7012 11 84 96</p>
                        <p><i class="fa-brands fa-whatsapp mr-3"></i> +91 7012 11 84 96</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->

            <hr class="my-3">

            <!-- Section: Copyright -->
            <section class="p-3 pt-0">
                <div class="row d-flex align-items-center">
                    <!-- Grid column -->
                    <div class="col-md-7 col-lg-8 text-center text-md-start">
                        <!-- Copyright -->
                        <div class="p-3">
                            © 2022 Copyright:
                            <a class="text-white" href="https://www.greewish.live/">GreeWish.live</a>
                        </div>
                        <!-- Copyright -->
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                        <!-- Facebook -->
                        <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                                class="fab fa-facebook-f"></i></a>

                        <!-- Twitter -->
                        <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                                class="fab fa-twitter"></i></a>

                        <!-- Google -->
                        <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button" 
                        href="https://info.greewish@gmail.com"><i class="fab fa-google"></i></a>

                        <!-- Instagram -->
                        <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button" 
                        href="https://www.instagram.com/greewish/"><i class="fab fa-instagram"></i></a>
                    </div>
                    <!-- Grid column -->
                </div>
            </section>
            <!-- Section: Copyright -->
        </div>
        <!-- Grid container -->
    </footer>
    <!-- Footer -->
</div>
<!-- End of .container -->


<script>
    /*!     
        jquery.picZoomer.js
        v 1.0
        David
        http://www.CodingSerf.com
*/

    //放大镜控件
    ; (function ($) {
        $.fn.picZoomer = function (options) {
            var opts = $.extend({}, $.fn.picZoomer.defaults, options),
                $this = this,
                $picBD = $('<div class="picZoomer-pic-wp"></div>').css({ 'width': opts.picWidth + 'px', 'height': opts.picHeight + 'px' }).appendTo($this),
                $pic = $this.children('img').addClass('picZoomer-pic').appendTo($picBD),
                $cursor = $('<div class="picZoomer-cursor"><i class="f-is picZoomCursor-ico"></i></div>').appendTo($picBD),
                cursorSizeHalf = { w: $cursor.width() / 2, h: $cursor.height() / 2 },
                $zoomWP = $('<div class="picZoomer-zoom-wp"><img src="" alt="" class="picZoomer-zoom-pic"></div>').appendTo($this),
                $zoomPic = $zoomWP.find('.picZoomer-zoom-pic'),
                picBDOffset = { x: $picBD.offset().left, y: $picBD.offset().top };


            opts.zoomWidth = opts.zoomWidth || opts.picWidth;
            opts.zoomHeight = opts.zoomHeight || opts.picHeight;
            var zoomWPSizeHalf = { w: opts.zoomWidth / 2, h: opts.zoomHeight / 2 };

            //初始化zoom容器大小
            $zoomWP.css({ 'width': opts.zoomWidth + 'px', 'height': opts.zoomHeight + 'px' });
            $zoomWP.css(opts.zoomerPosition || { top: 0, left: opts.picWidth + 30 + 'px' });
            //初始化zoom图片大小
            $zoomPic.css({ 'width': opts.picWidth * opts.scale + 'px', 'height': opts.picHeight * opts.scale + 'px' });

            //初始化事件
            $picBD.on('mouseenter', function (event) {
                $cursor.show();
                $zoomWP.show();
                $zoomPic.attr('src', $pic.attr('src'))
            }).on('mouseleave', function (event) {
                $cursor.hide();
                $zoomWP.hide();
            }).on('mousemove', function (event) {
                var x = event.pageX - picBDOffset.x,
                    y = event.pageY - picBDOffset.y;

                $cursor.css({ 'left': x - cursorSizeHalf.w + 'px', 'top': y - cursorSizeHalf.h + 'px' });
                $zoomPic.css({ 'left': -(x * opts.scale - zoomWPSizeHalf.w) + 'px', 'top': -(y * opts.scale - zoomWPSizeHalf.h) + 'px' });

            });
            return $this;

        };
        $.fn.picZoomer.defaults = {
            picHeight: 460,
            scale: 2.5,
            zoomerPosition: { top: '0', left: '380px' },

            zoomWidth: 400,
            zoomHeight: 460
        };
    })(jQuery);



    $(document).ready(function () {
        $('.picZoomer').picZoomer();
        $('.piclist li').on('click', function (event) {
            var $pic = $(this).find('img');
            $('.picZoomer-pic').attr('src', $pic.attr('src'));
        });

        var owl = $('#recent_post');
        owl.owlCarousel({
            margin: 20,
            dots: false,
            nav: true,
            navText: [
                "<i class='fa fa-chevron-left'></i>",
                "<i class='fa fa-chevron-right'></i>"
            ],
            autoplay: true,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                },
                1200: {
                    items: 4
                }
            }
        });

        $('.decrease_').click(function () {
            decreaseValue(this);
        });
        $('.increase_').click(function () {
            increaseValue(this);
        });
        function increaseValue(_this) {
            var value = parseInt($(_this).siblings('input#number').val(), 10);
            value = isNaN(value) ? 0 : value;
            value++;
            $(_this).siblings('input#number').val(value);
        }

        function decreaseValue(_this) {
            var value = parseInt($(_this).siblings('input#number').val(), 10);
            value = isNaN(value) ? 0 : value;
            value < 1 ? value = 1 : '';
            value--;
            $(_this).siblings('input#number').val(value);
        }
    });

</script>